<app-nav></app-nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">

    <!-- <label>Gender/Age group:</label>
    <br>
    <select [(ngModel)] ="gender">
      <option *ngFor = "let gender of genders" [value] = "gender">
        {{gender}}
      </option>
    </select>
    <br><br> -->

    <select id="bodyLocationSelector" class="form-control" (change)="getBodyLocations()">
      <option value="choose">Choose a body region</option>
      <option *ngFor='let bodyLocation of bodyLocations' value={{bodyLocation.ID}}>
        {{bodyLocation.Name}}
      </option>
    </select>

    <select id="bodySubLocationSelector" class="form-control" (change)="saveSubBodyLocation()" disabled>
      <option value="choose">Choose a body sub-region</option>
    </select>

    <div class="jumbotron" id="bodySymptom">
      <button id="myButton" class="btn btn-success" hidden>Our proposed localized body symptoms...</button>
      <!-- <div *ngIf="isClicked"> -->
        <div *ngFor='let bodySymptom of bodySymptoms'>
          <br>
          <!-- <p>Id: {{bodySymptom.ID}}<p> -->
          <p>Symptom: {{bodySymptom.Name}}</p>
          <!-- <p>HasRedFlag: {{bodySymptom.HasRedFlag}}<p> -->
          <!-- <p>HealthSymptomLocationIDs: {{bodySymptom.HealthSymptomLocationIDs}}</p> -->
          <p>ProfName: {{bodySymptom.ProfName}}<p>
          <p>Synonyms: {{bodySymptom.Synonyms}}</p>
        </div>
    </div>
  </div>
</div>