<br><br><br>
<div class="container">
  <div class="jumbotron">

      id: <input type="number" [(ngModel)]="issueId" name="issueId">
        
    <button id="myButton" class="btn btn-success" (click)="getIssue()">Get issue!</button>
    <div *ngIf="isClicked">
      <!-- <div *ngFor='let issue of issues'> -->
      <p>{{issue.Description}})<p>
      <p>{{issue.DescriptionShort}}</p>
      <p>{{issue.MedicalCondition}}</p>
      <p>{{issue.Name}}</p>
      <p>{{issue.PossibleSymptoms}}</p>
      <p>{{issue.ProfName}}</p>
      <p>{{issue.Synonyms}}</p>
      <p>{{issue.TreatmentDescription}}</p>
    <!-- </div> -->
  </div>
</div>