<app-nav></app-nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">

      id: <input type="number" [(ngModel)]="issueId" name="issueId">
        
    <button id="myButton" class="btn btn-success" (click)="getIssue()">Get issue!</button>
    <div *ngIf="isClicked">
      <p>Description: {{ issues.Description }}<p>
      <p>Description Short: {{ issues.DescriptionShort }}</p>
      <p>Medical Condition: {{ issues.MedicalCondition }}</p>
      <p>Name: {{ issues.Name }}</p>
      <p>Possible Symptoms: {{ issues.PossibleSymptoms }}</p>
      <p>Professional Name: {{ issues.ProfName }}</p>
      <p>Symptoms: {{ issues.Synonyms }}</p>
      <p>Treatment Description: {{ issues.TreatmentDescription }}</p>
  </div>
</div>
</div>