<br><br><br>

<!-- <div class="container">
    <form>
      <input type="text" name="id">
      <button id="myButton" class="btn btn-success" (click)='getIssue(id)'>Get issue!</button>
      <div>
        <p>{{issue.Description}}</p>
        <p>{{issue.DescriptionShort}}</p>
        <p>{{issue.MedicalCondition}}</p>
        <p>{{issue.Name}}</p>
        <p>{{issue.PossibleSymptoms}}</p>
        <p>{{issue.ProfName}}</p>
        <p>{{issue.Synonyms}}</p>
        <p>{{issue.TreatmentDescription}}</p>
        </div>
    </form>
</div> -->

<!-- 
    <br><br><br>
    <div class="container">
        <div class="jumbotron">
          <button id="myButton" class="btn btn-success" (click)='getIssues()'>Get issues!</button>
        </div>
        <div>
          <div *ngFor='let issue of issues'>
          <h4>{{issue.ID}})</h4> 
          <p>{{issue.Name}}</p>
          </div>
        </div>
      </div> -->