<app-nav></app-nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">

    <label for="symp">Choose your symptom</label><br>

    <form>

    <input type="text" id="symp" class="form-control" list="json-symptomsList" placeholder="e.g. abdominal pain" (change)='getSymptoms()'>
    <select id="json-symptomsList">
        <option *ngFor='let symptom of symptoms' value={{symptom.ID}}>
            {{symptom.Name}}
        </option>
      </select><br><br><br>
    <!-- <input type="submit" value="submit" (click)=''> -->
    <!-- <p>
    <output onforminput="this.value=json-symptomsList.value" ></output>
    </p> -->
  </form>
    </div>
    </div>

      <!-- <button id="myButton" class="btn btn-success">Get symptoms!</button> -->
  <!-- </div>
  <div>
      <div *ngIf='isClicked'>
        <div *ngFor='let symptom of symptoms'>
          <br>
          <p>Id: {{symptom.ID}}</p> 
          <p>Name: {{symptom.Name}}</p>
        </div>
    </div>
  </div>
</div> -->