<app-nav></app-nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">

    <label for="symp">Choose your symptom</label><br>

    <input type="text" id="symp" class="form-control" list="json-symptomsList" placeholder="e.g. abdominal pain" (click)='getSymptoms()'>
    <datalist id="json-symptomsList"></datalist>

      <!-- <button id="myButton" class="btn btn-success">Get symptoms!</button> -->
  <!-- </div>
  <div>
      <div *ngIf='isClicked'>
        <div *ngFor='let symptom of symptoms'>
          <br>
          <p>Id: {{symptom.ID}}</p> 
          <p>Name: {{symptom.Name}}</p>
        </div>
    </div>
  </div>
</div> -->