<br><br>
<!-- <button class="btn btn-primary" routerLink="/login">Login</button> -->
<button class="btn btn-primary" routerLink="/symptoms">Symptoms</button>
<button class="btn btn-primary" routerLink="/body-symptoms">Body Symptoms</button>
<button class="btn btn-primary" routerLink="/body-locations">Body Locations</button>
<!-- <button class="btn btn-primary" routerLink="/body-location">Sublocations</button> -->
<button class="btn btn-primary" routerLink="/issues">Issues</button>
<button class="btn btn-primary" routerLink="/issue">Issue</button>
<button class="btn btn-primary" routerLink="/proposed-symptoms">Proposed Symptoms</button>
<button class="btn btn-primary" routerLink="/specialisations">Specialisations</button>
<button class="btn btn-primary" routerLink="/diagnosis">Dignosis</button>
<button class="btn btn-primary" routerLink="/login" (click)="logout()">Logout</button>
